*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f3f3f3;
}
.container{
    background-color: white;
    height: 70px;
    /* border: 2px solid black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.stick{
    position: sticky;
    top: 0;
}
.container img{
    height: 40px;
}
.nav-search{
    background-color: #f3f3f3;
    margin-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
i{
    cursor: pointer;
}
img{
    cursor: pointer;
}
p{
    cursor: pointer;
}
.nav-search input{
    height: 40px;
    width: 750px;
    /* border-radius: 10px; */
    border: none;
    background-color: #f3f3f3;
    font-size: 1rem;
    cursor: pointer;
}
.nav-search i{
    height: 44px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    margin-left: 30px;
}
.icon i{
    width: 40px;
    font-size: 20px;
}
.login a{
    font-size: 1.20rem;
    color: black;
    text-decoration: none;
    width: 50px;
}
.login select{
    border:none;
}
.cart{
    display: flex;
    margin-left: 40px;
}
.cart i{
    font-size: 20px;
    width: 50px;
}
.cart a{
     font-size: 1.20rem;
    color: black;
    text-decoration: none;
}
.seller{
    margin-left: 40px;
}
.seller i{
    width: 30px;
    font-size: 20px;
}
.seller a{
     font-size: 1.20rem;
    color: black;
    text-decoration: none;
}
.container-last i{
    margin-left: 80px;
    font-size: 15px;
}
.container-second{
    background-color: white;
    margin:20px auto;
    width: 1550px;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    height: 100px;
    width: 8%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.box:hover{
    background-color: #f3f3f3;
}
.box img{
    width: 70px;
    margin-left: 27px;

}
.box a{
    text-decoration: none;
    color: black;
    font-weight: 550;
}
.third-container{
    background-color: white;
    height: 300px;
    width: 1550px;
    margin: auto;
    display: flex;
    flex-direction: column;
     /* justify-content: center;
    align-items: center; */
}
.third-container img{
    height: 240px;
    width: 1550px;
}
.third-container i{
    font-size: 150px;
    border: 2px solid black;
    margin: 30px auto;
   
}
.container-fifth{
    background-color: white;
    height: 300px;
    width: 1300px;
    /* margin:20px auto 10px; */
    margin-top: 20px;
    margin-left: 9px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.height{
    /* height: 100vh; */
}
.big-container{
    background-color: #f3f3f3;
    height: 350px;
    /* border: 2px solid black; */
    display: flex;
    
}
.big-container img{
    margin-left: 50px;
    width: 270px;
    height: 320px;
    margin-top: 15px;
}
.boxes{
    height: 200px;
    /* border: 2px solid black; */
    width: 150px;
    /* margin-top: 80px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxes:hover{
    background-color: #f3f3f3;
}
.boxes img{

    height: 140px;
    width: 120px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.boxes a{
    text-decoration: none;
    font-size: 0.85rem;
    color: black;
}
.ankar{
    font-weight: 700;
    font-size: 1.10rem;
}
.sixth-container{
    background-color: white;
    height: 320px;
    margin: auto;
    width: 1550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.con{
    /* border: 2px solid black; */
    height: 230px;
    width: 13%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.con:hover{
    background-color: #f3f3f3;
}
.con img{
    width: 160px;
    height: 180px;
    margin: auto;
}
.con a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
}
.ansh img{
    height: 120px;
    /* display: block; */
    margin: auto;
}
.raghu img{
    height: 100px;
    margin: auto;
}
.sai{
    display: inline-block;
    /* margin-top: 50px; */
}
.seventh-container{
    background-color: #f3f3f3;
    height: 970px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    margin-right: 10px;
}
.poster{
    /* border: 2px solid black; */
    height: 270px;
    width: 31%;
    margin-top: 20px;
}
.poster:hover{
    border: 2px solid red;
}
.poster img{
    width: 500px;
    height: 300px;
}
input:focus{
    border: none;
    outline: none;
}
.third-container:hover{
    border: 2px solid rgb(167, 165, 165);
}